* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.32px;
    /* overflow-x: hidden; */
}
  img {
    display: block;

  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul {
    margin: 0;
    padding: 0;
  }
  figure {
    margin: 0;
  }
  :root {
    --iris: #4D5AE5;
    --navyblue: #2E2F42;
    --black: black;
    --ocean: #404BBF;
    --white: #FFFFFF;
    --slate: #434455;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --green: #31D0AA;
    --lightslate: #8E8F99;
    --navybluemodal: #2E2F42;
    --grey: #2E2F42;
    --dairy: #FCFCFC;
    --transition-duration: 250ms;
  }
ul {
    list-style-type: none;
}

.iris {
    color: var(--iris);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    font-family: Raleway;
    width: 44px;
}
.categories-container {
    display: flex;
    flex-wrap: wrap;
}
.navy-blue {
    color: var(--navyblue);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    font-family: Raleway;
    width: 71px;
}
.navy-blue-footer {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: var(--cloud);
}
.header-nav-webstudio-logo {
    text-decoration: none;
    align-items: center;
} 
.nav-lists {
     display: none;
}
.main-header-container {
    justify-content: space-between;
}
    @media screen and (min-width:768px) {
        .nav-lists {
            display: flex;
            gap: 40px;
        }
        .nav-link {
            text-decoration: none;
            color: var(--navyblue);
            position: relative;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.50em;
            letter-spacing: 0.32px;
            font-family: Roboto;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
        }
        .nav-lists-item:hover .nav-link {
            color: var(--ocean);
        }
        .nav-link.active::after {
            content:'';
            height: 4px;
            width: 100%;
            background-color: var(--ocean);
            border-radius: 2px;
            position: absolute;
            left: 0px;
            bottom: -28px;
            transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    @media screen and (min-width: 1158px) {
        .nav-link.active::after {
            bottom: -28px;
        }        
    }
    @media screen and (min-width: 1158px) {
        .nav-link {
            font-size: 18px;
            font-family: Raleway;
            font-weight: 800;
            line-height: 1.16em;
            letter-spacing: 0.54px;
        }        
    }

    .header-nav-webstudio-logo {
        margin-right: 76px;
    }
    .contact-info {
        display: none;
    }
    @media screen and (min-width:768px) {
        .contact-info {
            display: inline-block;
            gap: 12px;
            margin-top: 16px;
        }  
    }
    .contact-info-item {
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.67em;
        letter-spacing: 0.48px;
    }
    .contact-info-link:hover {
        color: var(--ocean);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .contact-info-link {
        text-decoration: none;
        color: var(--slate);
        font-size: 12px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 1.17em;
        letter-spacing: 0.48px;
        width: 119px;
        height: 14px;
        flex-shrink: 0;
    }

    @media screen and (min-width: 115px) {
        .contact-info {
            flex-direction: row;
            gap: 40px;
        }       
    }
    @media screen and (min-width: 1158px) {
        .contact-info-link {
            font-size: 16px;
            height: auto;
            line-height: 1.50em;
            letter-spacing: 0.32px;
        }
        
    }
    .header-menu-hamburger {
        width: 32px;
        height: 22px;
        display: flex;
        cursor: pointer;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .header-nav {
        display: inline-flex;
    }
    @media screen and (min-width:768px) {
        .header-nav {
            align-items: center;
        }
        
    }
    /* .main-header-container {
        display: inline-flex;
        display: flex;
        justify-content: space-between;
        padding: 25px 15px;
        border-bottom: 1px solid var(--cornflower);
    } */
    @media screen and (min-width:768px) {
        .main-header-container {
            padding: 0 16px;
            text-align: center;
            display: flex;
            justify-content: space-between;
            height: 72px;
        }
    }
    @media screen and (min-width: 1158px) {
        .main-header-container {
            padding: 24px 156px;
            width: 1470px;
        }      
    }
    .feature-lists-item-icon {
        display:none;
    }
    @media screen and (min-width: 1158px) {
        .feature-lists-item-icon {
            display: flex;
            width: 264px;
            fill: var(--black);
            padding: 24px 100px;
            background-color: var(--cloud);
            height: 112px;
            justify-content: flex-start;
        }
        .contact-info {
            display: flex;
            margin-top: 0;
        }    
    }
    .container {
        max-width: 428px;
        margin: 0 auto;
    }
    @media screen and (min-width:768px) {
        .container {
            max-width: 768px;
            width: 100%;
            margin: 0 auto;
        }
    }
    @media screen and (min-width: 1158px) {
        .container {
            max-width: 100%;
        }        
    }
    .projects-lists {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
        justify-content: center;
    }
    @media screen and (min-width: 768px) {
        .projects-lists {
            justify-content: flex-start;
        }        
    }
    @media screen and (min-width: 1558px) {
        .projects-lists {
            justify-content: center;
            gap: 2px;
        }        
    }
    .projects {
        padding-bottom: 120px;
    }
    @media screen and (min-width: 768px) {
        .projects {
            padding-bottom: 128px;
        }  
    }
    @media screen and (min-width: 1558px) {
        .projects {
            padding: 0 156px 120px 156px;
        }
        
    }
    .projects-lists-item-container {
         padding: 32px 16px;
         width: 100%;
    }
    button {
        font-family:inherit;
        border: unset;
        outline: none;
        cursor: pointer;
    }
    .container-section2 {
        display: flex;
        padding: 96px 16px;
        justify-content: space-between;
        width: 100%;
    }
    @media screen and (min-width: 768px) {
        .container-section2 {
            padding: 96px auto;
        }      
    }
    @media screen and (min-width: 1158px) {
        .container-section2 {
            padding: 120px auto;
        }

    }
    .member-list-item-container {
        padding: 32px 0px;
    }
    .member-item-icon {
        width: 16px;
        height: 16px;
    }
    .feature-lists {
        display: flex;
        flex-direction: column;
        gap: 72px;
        margin: 0 auto;
    }
    @media screen and (min-width: 1158px) {
        .feature-lists {
            gap: 24px;
        }        
    }
    @media screen and (min-width: 768px) {
        .feature-lists {
            flex-direction: row;
            gap: 24px;
            flex-wrap: wrap;
            row-gap: 72px;
            /* justify-content: space-between; */
        }        
    }
    .container-section4 {
        padding: 96px 82px;
        background-color: var(--cloud);
    }
    @media screen and (min-width: 768px) {
        .container-section4 {
          padding: 96px 108px;

        }
    }
    @media screen and (min-width: 1158px) {
        .container-section4 {
            padding: 120px 156px;
            width: 1470px;
        }        
    }
    .member-list-contacts-item {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: var(--iris);
        border-radius: 200px;
        padding: 12px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .input-button-footer-container {
        display: flex;
        margin-top: 16px;
        flex-wrap: wrap;
        justify-content: center;
    }
    @media screen and (min-width: 768px) {
        .input-button-footer-container {
            gap: 24px;
        }        
    }
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @media screen and (min-width: 768px) {
        .footer-container {
            justify-content: flex-start;
            align-items: flex-start;
        }        
    }
    .footer-email-input {
        display: inline-block;
        border-radius: 4px;
        border: 1px solid var(--white);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        width: 398px;
        height: 40px;
        flex-shrink: 0;
        background-color: var(--navyblue);
        padding: 8px 16px;
        margin-bottom: 24px;
    }
    @media screen and (min-width: 768px) {
        .footer-email-input {
            width: 264px;
            height: 40px;
        }        
    }
    .subscribe-button-footer {
        display: inline-flex;
        padding: 8px 24px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        border-radius: 4px;
        background-color: var(--iris);
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0.64px;
        color: var(--white);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
    }
    @media screen and (min-width: 768px) {
        .subscribe-button-footer {
            width: 165px;
            height: 40px;
        }    
    }
    .subscribe-button-footer:hover {
        background-color: var(--ocean);
    }
    .subscribe-button-footer-svg {
        height: 24px;
        width: 24px;
        fill: var(--white);
    }
    .footer-email-input::placeholder {
        color: var(--white);
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 200%;
        letter-spacing: 0.48px;
    }
    .footer-list-contacts-item {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: var(--iris);
        border-radius: 200px;
        padding: 12px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
    }
    .member-list-contacts-item-svg {
        width: 16px;
        height: 16px;
    }
    .member-list-contacts-item:hover {
        background-color: var(--ocean);
    }
    .footer-list-contacts-item:hover {
        background-color: var(--green);
    }
    .member-list-contacts-item-link {
        width: 100%;
        display: block;
    }
    .member-list-contacts {
        display: flex;
        gap: 16px;
        justify-content: center;
    }
    .customer-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        row-gap: 72px;
        columns: 16px;
    }
    @media screen and (min-width: 768px) {
        .customer-list {
            width: 551px;
            display: flex;
            margin: 0 auto;
        }
    }
    @media screen and (min-width: 1158px) {
        .customer-list {
            width: fit-content;
            gap: 24px;
        }   
    }
    .customer-list-item-link {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: var(--lightslate);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .customer-list-item {
        border-radius: 4px;
        border: 1px solid var(--lightslate);
        width: 190px;
        height: 88px;
        display: flex;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    @media screen and (min-width: 768px) {
        .customer-list-item {
            width: 168px;
            height: 88px;
        }
    }
    .customer-list-item:hover {
        border-color: var(--ocean);
    }
    .customer-list-item:hover .customer-list-item-link {
        color: var(--ocean);
    }
    .customer-icon {
        width: 104px;
        height: 56px;
        fill: currentColor;
    }
    .customer-maintext {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11em;
        letter-spacing: 0.72px;
        color: var(--navyblue);
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-bottom: 72px;
    }
    .container-customer {
        padding: 96px 16px;
    }
    @media screen and (min-width: 1158px) {
        .container-customer {
            padding: 120px 0;
        }        
    }
    .social-media-footer {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5em;
        letter-spacing: 0.32px;
        font-family: Roboto;
        color: var(--white);
    }
    @media screen and (min-width: 768px) {
        .social-media-footer {
            margin-bottom: 16px;
        }        
    }
    .subscribe-footer {
        font-size: 16px;
        font-weight: 500;
        font-family: Roboto;
        line-height: 1.5em;
        letter-spacing: 0.32px;
        color: var(--white);
    }
    .subscribe-button-footer-text {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5em;
        letter-spacing: 0.64px;
    }
    @media screen and (min-width: 768px) {
        .subscribe-button-footer-text {
            font-weight: 400;
            letter-spacing: 0.32px;
        }        
    }
    .container-footer {
        display: flex;
        gap: 72px;
        flex-direction: column;
        padding: 96px 80px;
        width: 100%;
    }
    @media screen and (min-width: 768px) {
        .container-footer {
            flex-direction: row;
            flex-wrap:  wrap;
            padding: 96px auto;
            gap: 24px;
        }        
    }
    @media screen and (min-width: 1158px) {
        .container-footer {
            gap: 120px;
            padding: 100px auto;
            justify-content: center;
            align-items: center;
        }        
    }
    .member-lists-item {
        background: var(--white);
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
        display: flex;
        flex-direction: column;
        height: 428px;
        width: 264px;
    }
    @media screen and (min-width: 768px) {
        .member-lists-item {
            margin: 0 auto;
        }
        
    }
    @media screen and (min-width:768) {
        .member-list-item-img {
            width: 264px;
            height: 260px;
        }
    }
    .member-list-item-name, .member-list-item-position {
        background-color: var(--white);
    }
    .container-section3 {
        display: none;
    }
    @media screen and (min-width: 1158px) {
        .container-section3 {
            display: flex;
            padding-bottom: 120px;
            flex-direction: column;
        }
        .services-details-lists {
            display: flex;
            gap: 24px;
            justify-content: center;
        }
        .services-maintext {
            margin-bottom: 72px;
        }
        .services-maintext {
            line-height: 1.11em;
            letter-spacing: 0.72px;
            text-transform: capitalize;
            font-size: 36px;
            text-align: center;
            color: var(--navyblue);
        }
        .services-details-lists li {
            width: 360px;
            list-style: none;
        }
        .services-details-lists {
            gap: 24px;
        }
    }
    .categories-list {
        display: flex;
        justify-content: flex-start;
        gap: 24px;
        flex-wrap: wrap;
    }
    @media screen and (min-width: 768px) {
        .categories-list {
            justify-content: center;
            flex-wrap: nowrap;
        }        
    }
    .categories-container {
        padding: 96px 0 72px;
        width: 100%;
    }
    @media screen and (min-width: 768px) {
        .categories-container {
            padding: 0 auto;
        }        
    }
    .footer-description {
        display: block;
    }
    .feature-lists-item {
        width: 396px;
        flex-direction: column;
        align-items: center;
        display: flex;
        gap: 8px;
        justify-content: center;
    }
    @media screen and (min-width: 768px) {
        .feature-lists-item {
            width: 356px;
            height: 120px;
        }        
    }
    @media screen and (min-width: 1158px) {
        .feature-lists-item {
            width: 264px;
            height: 223px;
        }        
    }
    /* .feature-lists-item-icon-svg {
        display: none;
    } */
    .footer-logo {
        text-decoration: none;
    }
    .hero-order-service-button:hover {
        background-color: var(--ocean);
        color: var(--white);
    }
    .categories-button:hover {
        color: var(--white);
        background: var(--ocean);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
        border-color: var(--ocean);
    }
    .categories-button {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .hero-order-service-button:focus {
        background-color: var(--ocean);
        cursor: pointer;
        color: var(--white);
    }
    .categories-button:focus {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5em
        letter-spacing: 0.64px;
        text-align: center;
        color: var(--white);
        display: flex;
        align-items: flex-start;
        background: var(--ocean);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
        padding: 12px 24px;
    }
    .hero-text {
        color: var(--white);
        text-align: center;
        font-size: 36px;
        line-height: 1.11em;
        letter-spacing: 0.72px;
        margin-bottom: 72px;
        width: 320px;
        height: 80px;
        font-family: Roboto;
        font-weight: 700;
        display: flex;
        justify-content: center;
    }
    @media screen and (min-width:768px) {
        .hero-text {
            display: flex;
            text-align: center;
            font-size: 56px;
            font-weight: 700;
            line-height: 1.07em;
            letter-spacing: 1.12px;
            width: 496px;
            height: auto;
            margin-bottom: 36px;
        }        
    }
    .container-section1 {
        background-image: url(../images/dark-bg.jpg), url(../images/dark-bg@2x.jpg),
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
        padding: 112px 54px;
        flex-shrink: 0;
        box-shadow: inset 0 0 0 5000px rgba(46, 47, 66, 0.7);
        background-repeat: no-repeat, no-repeat;
        background-position: center, center;
        background-size: cover, cover;
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
         .container-section1 {
            background-image: url(../images/dark-bg.jpg), url(../images/dark-bg@2x.jpg),
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
         }   
    }
    @media screen and (min-width:768px) {
        .container-section1 {
            padding: 112px 136px;
            display: flex;
            flex-direction: column;
            background-image: url(../images/dark-bg.jpg), url(../images/dark-bg@2x.jpg),
            linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
        }
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
             .container-section1 {
                background-image: url(../images/dark-bg.jpg), url(../images/dark-bg@2x.jpg),
                linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
            }   
        }
    }
    @media screen and (min-width: 1158px) {
        .container-section1 {
            padding: 188px 472px;
            background-image: url(../images/hero-background.jpg);
            flex-shrink: 0;
            box-shadow: inset 0 0 0 5000px rgba(46, 47, 66, 0.7);
            background-repeat: repeat;
            display: flex;
            /* justify-content: center; */
        }        
    }
    .hero-order-service-button {
        background-color: var(--iris);
        gap: 10px;
        padding: 16px 32px;
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        font-weight: 500;
        line-height: 1.5em;
        letter-spacing: 0.64px;
        font-size: 16px;
        color: var(--white);
        /* margin: auto; */
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        text-align: center;
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: center;
    }
    
    .feature-lists-item-text {
        display: flex;
        /* flex-direction: column; */
        text-align: center;
        align-items: center;
        color: var(--navyblue);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11em;
        letter-spacing: 0.72px;
        align-self: stretch;
        justify-content: center;
        align-self: stretch;
        margin-top: 0;
        font-family: Roboto;
    }
    @media screen and (min-width: 768px) {
        .feature-lists-item-text {
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 8px;
        }
    }
    @media screen and (min-width: 1158px) {
        .feature-lists-item-text {
            align-self: normal;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.20em;
            letter-spacing: 0.4px;
        }      
        .container-section1 {
            justify-content: center;
            align-items: center;
        }
    }
    .feature-lists-item-description {
        font-size: 16px;
        line-height: 1.5em;
        letter-spacing: 0.32px;
        color: var(--slate);
        font-weight: 500;
        font-family: Roboto;
    }
    @media screen and (min-width: 768px) {
        .feature-lists-item-description {
            justify-content: flex-start;
            align-items: flex-start;
            align-self: stretch;
            width: 100%;
        }        
    }
    .member-lists {
        list-style: none;
    }
    .member-lists {
        display: flex;
        flex-direction: column;
        gap: 72px;
    }
    @media screen and (min-width: 768px) {
        .member-lists {
            gap: 24px;
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
            row-gap: 64px;
        }        
    }
    @media screen and (min-wdith: 1158px) {
        .member-lists {
            justify-content: center;
            align-items: center;
        }  
    }
    .member-list-item-name {
        color: var(--navyblue);
        text-align: center;
        font-weight: 500;
        line-height: 1.2em;
        letter-spacing: 0.4px;
        font-size: 20px;           
        margin-bottom: 8px;
    }
    .member-list-item-position {
        color: var(--slate);
        text-align: center;
        line-height: 1.5em;
        letter-spacing: 0.32px;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 8px;
    }
    footer {
        background-color: var(--navyblue);
        flex-shrink: 0;
    }
    .footer-description {
        color: var(--cloud);
        line-height: 1.5em;
        letter-spacing: 0.32px;
        font-size: 16px;
        width: 268px;
        font-weight: 400;
    }
    .footer-logo {
        color: var(--white);
        font-family: Raleway;
        font-weight: 800;
        line-height: 1.17em;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        font-size: 18px;
        display: block;
        align-items:center;
        margin-bottom: 17.5px;
    }
    @media screen and (min-width: 768px) {
        .footer-logo {
            justify-content: flex-start;
            align-items: flex-end;
            display: flex;
        }        
    }
    .members-section-maintext {
        color: var(--navyblue);
        text-align: center;
        line-height: 1.11em;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 72px;
    }
    @media screen and (min-width: 768px) {
        .members-section-maintext {
            margin-bottom: 72px;
        }
        
    }
    .categories-button {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5em;
        letter-spacing: 0.64px;
        color: var(--iris);
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        border: 1px solid var(--cornflower);
        background: var(--cloud);
        display: flex;
    }
    .projects-lists-item-text {
        color: var(--navyblue);
        font-weight: 500;
        line-height: 1.2em;
        letter-spacing: 0.4px;
        font-size: 20px;
        margin-bottom: 8px;
    }
    .projects-lists-item-subtext {
        color: var(--slate);
        line-height: 1.5em;
        letter-spacing: 0.32px;
        font-size: 16px;
    }
    .projects-lists-item {
        width: 360px;
        height: 420px;
        flex-direction: column;
        align-items: flex-start;
        flex-shrink: 0;
        display: flex;
        border-radius: 0px 0px 4px 4px;
     Show 3 more colors
    
     Ellipse
     Component instance
    
     Ellipse
     Component instance
    
     Ellipse
     Component instance
    
     img
     Image · 2,000 x 1,335
     box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
     transition: box-shadow var(--transition-duration) 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .projects-lists-item-figure {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 300px;   
    }
    .projects-lists-item:hover figcaption {
        transform: translateY(0);
    
    }
    .project-lists-item-figcaption {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(77, 90, 229, 1);
        padding: 0px 24px;
        color: var(--cloud);
        text-align: left;
        display: flex;
        align-items: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.32px;
        font-size: 16px;
        transition: transform var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateY(100%);
        will-change: transform;
    }
    .projects-lists-item-container {
        border-right: 1px solid var(--cornflower);
        border-left: 1px solid var(--cornflower);
        border-bottom: 1px solid var(--cornflower);
        background: var(--white);
    }
    .projects-lists-item:hover {
        box-shadow: box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }
    .projects-lists-item-container:hover {
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }
    .projects-lists-item-img {
        width: 100%;
        height: 300px;
        flex-shrink: 0;
        display: block;
        object-fit: cover;
        object-position: center;
    }
    .modal {
        background-color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        pointer-events: auto;
        transition-property: visibility, opacity;
        transition-duration: var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    .modal-content {
        width: 408px;
        height: auto;
        background: var(--dairy);
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
        border-radius: 4px;
        position: relative;
        transform: translateY(20px);
        transition: transform var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
        max-height: 100%;
        padding: 72px 24px 24px;
    }
    .modal.modal.is-hidden.modal-content {
        transform: translateY(20px);
    
    }
    .modal-close {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 24px;
        right: 24px;
        color: var(--navyblue);
        margin: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        border-radius: 50%;
        background-color: var(--cornflower);
        border: 1px solid rgba(46, 47, 66, 0.4);
        stroke-width: 1px;
        transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1), color var(--transition-duration);
    }
    .modal-close-item-svg {
        width: 8px;
        height: 8px;
        fill: currentColor;
        transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1), color var(--transition-duration);
    }
    .modal.is-hidden { 
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
    .modal-close:hover {
        background-color: var(--ocean);
        border-color: var(--ocean);
        color: var(--cloud);
        transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1), color var(--transition-duration);
    }
    .modal-close-item-link {
        color: var(--navyblue);
    }
    .modal-close:hover .modal-close-item-link {
        color: var(--cloud);
    }
    .modal-contact-info-label {
        display: block;
        color: var(--lightslate);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 116.667%;
        letter-spacing: 0.48px;
        position: relative;
        margin-top: 26px;
    }
    .modal-contact-info-input {
        display: inline-block;
        width: 100%;
        margin-top: 4px;
        padding: 11px 38px;
        border-radius: 4px;
        border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    }
    .modal-contact-info-input:focus, .modal-contact-info-text:focus {
        border: 1px solid var(--iris);
        outline: 0;
    }
    .modal-contact-info-input:hover, .modal-contact-info-text:hover {
        border: 1px solid var(--iris);
        outline: 0;
    }
    .modal-contact-info-input:focus + .modal-contact-info-svg {
        fill: var(--iris);
    }
    .modal-contact-info-input:hover + .modal-contact-info-svg {
        fill: var(--iris);
    }
    .modal-contact-info-text {
        display: block;
        width: 100%;
        margin-top: 4px;
        padding: 11px 12px;
        border-radius: 4px;
        resize: none;
        border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
        margin-bottom: 16px;
        font-family: Roboto;
    }
    .modal-form-container {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    .modal-contact-checkbox {
        display: flex;
        color: var(--white);
        justify-content: center;
        align-items: flex-end;
        height: 16px;
        cursor: pointer;
        position: relative;
    }
    .modal-contact-checkbox-terms {
        margin-left: 8px;
        color: var(--lightslate);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 116.667%;
        letter-spacing: 0.48px;
    }   
    .modal-contact-checkbox-input:checked + .modal-contact-checkbox-svg {
        background-color: var(--ocean);
        border-color: var(--ocean);
    }
    .modal-contact-info-input-link {
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 116.667%;
        letter-spacing: 0.48px;
        color: var(--iris);
    }
    .modal-contact-checkbox-input {
        height: 16px;
        width: 16px;
        margin-right: 8px;
        padding: 11px 12px;
        margin-top: 0;
        display: inline-block;
    }
    .modal-contact-checkbox-svg {
        width: 16px;
        height: 14px;
        border: 1px solid var(--lightslate);
        border-radius: 2px;
        padding: 2px;
        background-color: var(--white);
        fill: currentColor;
    }
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        opacity: 0;
        overflow: hidden;
    }
    .modal-contact-button {
        padding: 16px 32px;
        font-size: 16px;
        font-family: Roboto;
        color: var(--white);
        border-radius: 4px;
        background-color: var(--iris);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        width: 169px;
        height: 56px;
        margin-top: 24px;
        transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-contact-button:hover {
        background-color: var(--ocean);
    }
    .form-content-header {
        text-align: center;
        color: var(--navyblue);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 550;
        line-height: 150%;
        letter-spacing: 0.32px;
    }
    .modal-contact-info-details {
        position: absolute;
        bottom: calc(100% + 4px);
    }
    .modal-contact-button-container {
        text-align: center;
    }
    .modal-contact-info-svg {
        width: 18px;
        height: 18px;
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
    }    
    .mobile-menu-container {
        width: 428px;
        height: 796px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        pointer-events: auto;
    }